<!--<div ng-include="'views/modals.html'"></div>-->
<div ng-include="'./app/views/modals.html'"></div>
<div class='landing-page' style='height: 100vh;'>
  <!-- <img class='background-img'> -->
  <div class='landing-content'>
    <h1 class='text-align-center'>
      Welcome to Factor Room
    </h1>
    <div class='action-buttons-holder text-align-center'>

      <button ng-click='activateLogin();' class='secondary-color'>Login</button>
      <button ng-click='activateSignup();' class='primary-color' style='margin-left: 30px;'>Signup</button>

    </div>
  </div>
</div>

<!-- <div class="jumbotron">
  <div style="float:left;min-height:300px" class="login">
    <h3>Login</h3>
    <input id="email" type="text" placeholder="email"></input></br>
    <input id="password" type="password" placeholder="password"></input></br>
    <button ng-click="login();">Login</button>
  </div>
  <div class="signup">
    <h3>Signup</h3>
    <input id="firstname" type="text" placeholder="firstname"></input></br>
    <input id="lastname" type="text" placeholder="lastname"></input></br>
    <select id="userType" >
      <option>Select user type</option>
      <option>Admin</option>
      <option>Editor</option>
      <option>Author</option>
      <option>Contributor</option>
      <option>Reader</option>
    </select></br>
    <input id="email" type="text" placeholder="email"></input></br>
    <input id="password" type="password" placeholder="password"></input></br>
    <button ng-click="createAcct();">Signup</button>
  </div>
</div> -->
